body {
  background-image: url(img/bcg3.jpg);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.container {
  color: #fff;
}
.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 4s steps(26);
}
@keyframes typingAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn1 {
  display: inline-block;
  background: #5800ff;
  border-radius: 4px;
  padding: 3px 6px;
  margin-left: -68px;
  margin-top: 500px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
table {
  color: #000000;
  border-collapse: collapse;
  border: 2px solid #000000;
  margin-top: -70px;
  background: #eeeeee;
  position: absolute;
  left: 3%;
  top: 45%;
}

.tb {
  position: absolute;
  margin-top: -50px;
  left: 3%;
  top: 35%;
}
th {
  background: #3ccf4e;
}
