* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  width: 100;
  height: 100vh;
  background-image: url(img/gambar-index.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #ffff00;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content h1 {
  font-size: 42px;
  font-weight: 100;
  margin-left: -280px;
  margin-top: -10px;
  color: white;
}
.content p {
  font-size: 10px;
  margin-left:-275px;
  color: white;
}
.content {
  margin-left: 22%;
  margin-top: 7%;
}
.content .btn {
  display: inline-block;
  background: #0000f4;
  border-radius: 4px;
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
